# Assignment list

In [ ]:
# 1.Define a list of your favourite food
# 2.Print the list
# 3.Print the list from the last item to the first
# 4.Add "Rice" to your list
# 5.What is index of "Rice"
# 6.Sort your list 
# 7.Give the number of occurance of each food in the list
# 8.Clear the list

In [1]:
food=["lontong","nasi lemak","roti canai","thosai"]
print(food)

['lontong', 'nasi lemak', 'roti canai', 'thosai']

In [2]:
print(food[-1])
print(food[-2])
print(food[-3])
print(food[-4])

thosai
roti canai
nasi lemak
lontong

In [3]:
food.insert(0,"Rice")
print(food)

['Rice', 'lontong', 'nasi lemak', 'roti canai', 'thosai']

In [4]:
food.index("Rice")

0

In [5]:
food.sort()
print(food)

['Rice', 'lontong', 'nasi lemak', 'roti canai', 'thosai']

In [6]:
food.insert(3,"nasi lemak")
food.insert(6,"roti canai")
print(food)
print(food.count("nasi lemak"))
print(food.count("roti canai"))

['Rice', 'lontong', 'nasi lemak', 'nasi lemak', 'roti canai', 'thosai', 'roti canai']
2
2

In [7]:
food.clear()
print(food)

[]

# Assignment tuple

In [ ]:
# 1.get the name of user siblings from the input
# 2.put in tuple
# 3.print the tuple

In [8]:
sib = []

name = int(input("Enter siblings number : "))
for i in range (name):

    new = (input())
    sib.append(new) 
    
print(type(sib))

Enter siblings number : 3
afiq
ali
abu
<class 'list'>

In [9]:
tupl=tuple(sib) 
print(tupl) 
print(type(tupl))

('afiq', 'ali', 'abu')
<class 'tuple'>

# Assignment set

In [10]:
course = {"Calculus","C-programming","Embedded","Circuit design"}

pas = {"Calculus","Embedded"}

pas.intersection(course)
print("Passed subject: ", pas)

Passed subject:  {'Embedded', 'Calculus'}

In [11]:
nopas=(course.difference(pas))
print("Not passed subject: ",nopas)

Not passed subject:  {'C-programming', 'Circuit design'}

In [12]:
print(pas.union(nopas))

{'C-programming', 'Embedded', 'Circuit design', 'Calculus'}

In [14]:
pas.intersection_update(course)
print(pas)

{'Embedded', 'Calculus'}

# Assignment dict

In [18]:
lang ={"sifar":"zero","satu":"one","dua":"two"
     ,"tiga":"three","empat":"four","lima":"five"}
s={"zero","one","two","three","four","five","six","seven","eight","nine","ten"}

In [19]:
x=input("Enter number spelling in Malay: ")

if x in lang:
    print("The translate is",lang[x])

else:
    print("Not in dictionary, please update")
    keys = x 
    values = (input("Please insert the tranlate: "))
    lang[keys] = values
    print("Update is complete, thank you")
    print(lang)

Enter number spelling in Malay: enam
Not in dictionary, please update
Please insert the tranlate: six
Update is complete, thank you
{'sifar': 'zero', 'satu': 'one', 'dua': 'two', 'tiga': 'three', 'empat': 'four', 'lima': 'five', 'enam': 'six'}

# Assigment (while and for loop)

### While loop

In [24]:
n=int(input("Please any random number: "))
i=1
s=0

while(i<=n):

    s=s+i
    i=i+1
    print(s)

print("The sum is: ",s)

Please any random number: 4
1
3
6
10
The sum is:  10

### For loop

In [23]:
n=int(input("Please any random number: "))
s=0

for i in range(1,n+1):
    s+=i
    print(s)
    
print("The sum is: ",s)

Please any random number: 4
1
3
6
10
The sum is:  10