Exercise String Methods and Functions 
Dr.Elijah 
page 73-84

Capitalizes first letter of string

In [2]:
str1 = "this is string example....wow!!!"
print (str1.capitalize())

This is string example....wow!!!

Center(width, fillchar)

In [3]:
str1 = "this is string example....wow!!!"
print (str1.center(40, 'a'))

aaaathis is string example....wow!!!aaaa

count(str, beg= 0,end=len(string)) 

sub − This is the substring to be searched. 
start − Search starts from this index. First character starts from 0 index. By default search starts from 0 index. 
end − Search ends from this index. First character starts from 0 index. By default search ends at the last index.

In [30]:
str1 = "this is string example....wow is wow!!!"
sub = "i"
print ("str1.count(sub, 2, 40) : ", str1.count(sub, 2, 40))

str1.count(sub, 2, 40) :  4

In [31]:
sub = "wow"; 
print ("str1.count(sub) : ", str1.count(sub))

str1.count(sub) :  2

bytes.decode(encoding="utf-8", 
errors="strict")

bytes.decode(encoding="utf-8", 
errors="strict")

In [38]:
city = "Düsseldorf"
utf8_encoded = city.encode('utf-8')
print(type(utf8_encoded))  
print(utf8_encoded)  # b'D\xc3\xbcsseldorf'

<class 'bytes'>
b'D\xc3\xbcsseldorf'

In [39]:
decoded_city = utf8_encoded.decode('utf-8')
print(type(decoded_city))
print(decoded_city)

<class 'str'>
Düsseldorf

str.encode(encoding="utf-8", errors="strict")

In [44]:
city = "Düsseldor"
utf8_encoded = city.encode('utf-8')
print(type(utf8_encoded))
print(utf8_encoded)

<class 'bytes'>
b'This wow D\xc3\xbcsseldor'

In [41]:
decoded_city = utf8_encoded.decode('utf-8')
print(type(decoded_city))
print(decoded_city)

<class 'str'>
Düsseldorf

endswith(suffix, beg=0, end=len(string))

In [57]:
str1 = "this is string example....wow!!!"
suffix = "wow!!!"
print(len(str1))
print (str1.endswith(suffix))
print (str1.endswith(suffix,20))

32
True
True

In [62]:
suffix = "is"
print (str1.endswith(suffix, 2, 4))
print (str1.endswith(suffix, 2, 7))

True
True

In [1]:
str1 = "this is string example....wow!!!"
print ("Original string: " + str1) 
print ("Defualt exapanded tab: " +  str1.expandtabs()) 
print ("Double exapanded tab: " +  str1.expandtabs(60))

Original string: this is string example....wow!!!
Defualt exapanded tab: this is string example....wow!!!
Double exapanded tab: this is string example....wow!!!

In [5]:
str1 = "this is string example....wow!!!"
str2 = "exam"
print (str1.find(str2))
print (str1.find(str2, 10))
print (str1.find(str2, 40))

15
15
-1

In [6]:
str1 = "this is string example....wow!!!"
str2 = "exam"
print (str1.index(str2))
print (str1.index(str2, 10))
print (str1.index(str2, 40))

15
15

ValueError: substring not found

In [7]:
str1 = "this2009";  # No space in this string 
print (str1.isalnum()) 
str1 = "this is string example....wow!!!"
print (str1.isalnum())

True
False

In [9]:
str1 = "this";  # only alphabets in this string 
print (str1.isalpha()) 
str2 = "this is string example....wow!!!"
print (str2.isalpha())

True
False

In [10]:
str1 = "123456"  # Only digit in this string 
print (str1.isdigit()) 
str2 = "this is string example....wow!!!"
print (str2.isdigit())

True
False

In [11]:
str1 = "THIS is string example....wow!!!"
print (str1.islower())
str2 = "this is string example....wow!!!"
print (str2.islower())

False
True

In [13]:
str1 = u"this2009"   
print (str1.isnumeric()) 
str2 = u"23443434" 
print (str2.isnumeric())

False
True

In [14]:
str1 = "       " 
print (str1.isspace())
str2 = "This is string example....wow!!!"
print (str2.isspace())

True
False

In [15]:
str1 = "This Is String Example...Wow!!!" 
print (str1.istitle())
str2 = "This is string example....wow!!!"
print (str2.istitle())

True
False

In [16]:
str1 = "THIS IS STRING EXAMPLE....WOW!!!"
print (str1.isupper())
str2 = "This is string example....wow!!!"
print (str2.isupper())

True
False

In [17]:
s = "-" 
seq = ("a", "b", "c"); # This is sequence of strings. 
print (s.join( seq ))

a-b-c

In [18]:
str1 = "this is string example....wow!!!"
print ("Length of the string: ", len(str1))

Length of the string:  32

In [20]:
str1 = "this is string example....wow!!!"
print (str1.ljust(50, '*'))

this is string example....wow!!!******************

In [21]:
str1 = "THIS IS STRING EXAMPLE....WOW!!!"
print (str1.lower())

this is string example....wow!!!

In [22]:
str1 = "this is string example....wow!!!"
print (str1.lstrip()) 
str2 = "88888888this is string example....wow!!!8888888"
print (str2.lstrip('8'))

this is string example....wow!!!
this is string example....wow!!!8888888

In [23]:
intab = "aeiou" 
outtab = "12345" 
trantab = str.maketrans(intab, outtab)
str1 = "this is string example....wow!!!"
print (str1.translate(trantab))

th3s 3s str3ng 2x1mpl2....w4w!!!

In [26]:
str1 = "this is reall a string eample....wow!!!"
print ("Max character: " + max(str1))
str1 = "this is string example....wow!!!"
print ("Max character: " + max(str2))

Max character: w
Max character: x

In [30]:
str1 = "this-is-real-string-example....wow!!!"
print ("Min character: " + min(str1))
str2 = "this-is-real-string-example....wow!!!"
print ("Min character: " + min(str2))

Min character: !
Min character: !

In [37]:
str1 = "this is string example....wow!!! this is really string" 
print (str1.replace("is", "was")) 
print (str1.replace("is", "was", 3))

thwas was string example....wow!!! thwas was really string
thwas was string example....wow!!! thwas is really string

In [38]:
str1 = "this is string example....wow!!!"
str2 = "is" 
print (str1.rfind(str2)) 
print (str1.rfind(str2, 0, 10)) 
print (str1.rfind(str2, 10, 0))
print (str1.find(str2)) 
print (str1.find(str2, 0, 10))
print (str1.find(str2, 10, 0))

5
5
-1
2
2
-1

In [39]:
str1 = "this is string example....wow!!!"
str2 = "is"
print (str1.rindex(str2))
print (str1.index(str2))

5
2

In [40]:
str1 = "this is string example....wow!!!"
print (str1.rjust(50, '0'))

000000000000000000this is string example....wow!!!

In [46]:
str1 = "Line1-abcdef \nLine2-abc \nLine4-abcd" 
print (str1.split( )) 
print (str1.split(' ', 1))

['Line1-abcdef', 'Line2-abc', 'Line4-abcd']
['Line1-abcdef', '\nLine2-abc \nLine4-abcd']

In [1]:
str1 = "Line1-a b c d e f\nLine2- a b c\n\nLine4- a b c d" 
print (str1.splitlines( )) 
print (str1.splitlines( 0 )) 
print (str1.splitlines( 3 )) 
print (str1.splitlines( 4 )) 
print (str1.splitlines( 5 ))

['Line1-a b c d e f', 'Line2- a b c', '', 'Line4- a b c d']
['Line1-a b c d e f', 'Line2- a b c', '', 'Line4- a b c d']
['Line1-a b c d e f\n', 'Line2- a b c\n', '\n', 'Line4- a b c d']
['Line1-a b c d e f\n', 'Line2- a b c\n', '\n', 'Line4- a b c d']
['Line1-a b c d e f\n', 'Line2- a b c\n', '\n', 'Line4- a b c d']

In [2]:
str1 = "this is string example....wow!!!"
print (str1.startswith( 'this' ))
print (str1.startswith( 'is', 2, 4 ))
print (str1.startswith( 'this', 2, 4 ))

True
True
False

In [3]:
str1 = "0000000this is string example....wow!!!0000000"
print (str1.strip( '0' ))

this is string example....wow!!!

In [3]:
str1 = "this is string example....wow!!!"
print (str1.swapcase()) 
str1 = "THIS IS STRING EXAMPLE....WOW!!!"
print (str1.swapcase())

THIS IS STRING EXAMPLE....WOW!!!
this is string example....wow!!!

In [5]:
str1 = "this is string example....wow!!!"
print (str1.title())

This Is String Example....Wow!!!

In [6]:
intab = "aeiou" 
outtab = "12345" 
str1 = "this is string example....wow!!!"
trantab = str.maketrans(intab, outtab)
print (str1.translate(trantab))

th3s 3s str3ng 2x1mpl2....w4w!!!

In [8]:
trantab = str.maketrans(intab, outtab, 'xm') 
print (str1.translate(trantab))

th3s 3s str3ng 21pl2....w4w!!!

In [9]:
str1 = "this is string example....wow!!!"
print ("str1.capitalize() : ", str1.upper())

str1.capitalize() :  THIS IS STRING EXAMPLE....WOW!!!

In [10]:
str1 = "this is string example....wow!!!"
print (str1.zfill(40))
print (str1.zfill(50))

00000000this is string example....wow!!!
000000000000000000this is string example....wow!!!

In [11]:
str1 = u"this2009"
print (str1.isdecimal())
str2 = u"23443434"
print (str2.isdecimal())

False
True

In [ ]:
Assigment 2

Question 1

Collect the name, year of birth and salary of a user. Then output the following :

In [11]:
name = input("Please enter your name: ")
yob = int(input("Please enter your year of birth: "))
salary = int(input("Please enter your salary: "))

Please enter your name:  Muhammad Afiq
Please enter your year of birth:  1997
Please enter your salary:  2400

In [12]:
age = 2030-yob
tax = (salary)*(12.3/100)

In [13]:
print("Goodday {0}!, your year of birth is {1} and your age in the year 2030 will be {2}.".format(name,yob,age))
print("From your salary of {0} the computed tax of 12.3% is {1:.1f}.".format(salary,tax))

Goodday Muhammad Afiq!, your year of birth is 1997 and your age in the year 2030 will be 33.
From your salary of 2400 the computed tax of 12.3% is 295.2.

Question 2

Collect a list of names and scores and find the average of the scores.

In [23]:
name = ["john","james","jonny","jesicca","jesse"]
score = [70,60,75,65,80]
score_table = name+score
print(score_table[0],score_table[5])
print(score_table[1],score_table[6])
print(score_table[2],score_table[7])
print(score_table[3],score_table[8])
print(score_table[4],score_table[9])

john 70
james 60
jonny 75
jesicca 65
jesse 80

In [29]:
sum = score[0]+score[1]+score[2]+score[3]+score[4]
average = sum/len(score)
print ("The average of the score is {0}".format(average))

The average of the score is 70.0

Question 3

Use python to write an application letter for job to Perantis apply text wrap with line width of 50.

In [1]:
import textwrap
sample_text = '''
With all my respect, I wish to apply for the above position. I came across a very exciting position on your job portal 
that I believe fits me perfectly. I am interested in applying for the position above.

I am currently graduated in Automation and Robotics with Majored Bachelor of Engineering Technology 
(Automation and Robotics) with Honours at University Kuala Lumpur Malaysian France Institute (UniKL MFI). My current CGPA is 3.39

I have gone through a six-month industrial training in Automation Department at Sony(EMCS) Sdn. Bhd.
where I was given tasks to support all the electrical and mechanical problems in the production line and also troubleshoot the problem.

I have attached a resume for your consideration. Please take a moment to go through them to get a better picture of who I am.

I would love to talk to you in more detail regarding this amazing opportunity at your company.
It would give me great pleasure to hear back from you regarding my application.
    '''
receiver_address= input("Please enter receiver address: ")
sender_address= input("Please enter sender address: ")
receiver_salutation= input("Please enter receiver salution: ")
receiver_nick_name= input("Please enter your reveiver nick name: ")
date= input("Please enter date: ")
position_applied= input("Please enter your position applied: ")
name= input("Please enter your full name: ")
email= input("Please enter your email: ")
phone_num= input("Please enter your phone number: ")

Please enter receiver address:  Batu 1 Kampung Behor Temak 01000 Kangar Perlis Malaysia
Please enter sender address:  175 Kampung Salang Malaysia Mersing Johor 86800 Malaysia
Please enter receiver salution:  Miss
Please enter your reveiver nick name:  Wong
Please enter date:  19 October 2021
Please enter your position applied:  Software Engineer
Please enter your full name:  Muhammad Afiq
Please enter your email:  afiq@gmail
Please enter your phone number:  0122-34234345

In [12]:
print(receiver_address,"\n")
print("_______________________________________________________\n")
print(sender_address)
print("\nDear",receiver_salutation,receiver_nick_name,",\t\t\t",date,"\n\n")

print("Job Application for",position_applied,"position\n\n")
print(textwrap.fill(sample_text,width=50))
print("\nSincerely,\n")
print(name,"\n")
print(email)
print(phone_num)

Batu 1 Kampung Behor Temak 01000 Kangar Perlis Malaysia

_______________________________________________________

175 Kampung Salang Malaysia Mersing Johor 86800 Malaysia

Dear Miss Wong ,			 19 October 2021


Job Application for Software Engineer position


 With all my respect, I wish to apply for the
above position. I came across a very exciting
position on your job portal  that I believe fits
me perfectly. I am interested in applying for the
position above.   I am currently graduated in
Automation and Robotics with Majored Bachelor of
Engineering Technology  (Automation and Robotics)
with Honours at University Kuala Lumpur Malaysian
France Institute (UniKL MFI). My current CGPA is
3.39  I have gone through a six-month industrial
training in Automation Department at Sony(EMCS)
Sdn. Bhd. where I was given tasks to support all
the electrical and mechanical problems in the
production line and also troubleshoot the problem.
I have attached a resume for your consideration.
Please take a moment to go through them to get a
better picture of who I am.  I would love to talk
to you in more detail regarding this amazing
opportunity at your company. It would give me
great pleasure to hear back from you regarding my
application.

Sincerely,

Muhammad Afiq

afiq@gmail
0122-34234345